$text-color:rgb(27, 181, 30);

/* headerの設定 */
#header{
  /* h1の中央寄せ配置の起点とするためのrelative */
  position: relative;
  height: 100vh;/* 高さを全画面に合わせる */

  /* videoの設定 */
  #video-area{
    position: fixed;
    z-index: -1;/* 最背面に設定 */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    
    #video{
      /* 天地中央配置 */
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* 縦横幅指定 */
      /* 16:9の幅ー＞16÷９=177.77% */
      width: 177.777778vh;
      height: 56.25vw;
      min-height: 100%;
      min-width: 100%;
      filter: brightness(50%);
    }
  }

}

main{
    #logo{
        position: absolute;
        top: 20%;
        left: 18%;
        position: fixed;
    }
    #form{
        width:35%;
        position: absolute;
        top: 20%;
        right: 13%;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        h1{
            margin: 0 auto;
            border-bottom:1px solid black;
            width: 150px;
            padding-bottom: 5px;
            font-size: 1.5rem;
        }
        .content1{
            margin: 20px 0;
            font-size: 1.2rem;
            border-bottom: 1px solid #000;
        }
        p{
            margin-top: 10px;
            &:nth-last-of-type(1){
                a{
                    background-color: $text-color;
                    padding: 10px;
                    border-radius: 5px;
                    color: white;
                    &:hover{
                        background-color:white;
                        color: $text-color;
                        border: 1px solid $text-color;
                        transition: .3s;
                    }
                }
            }
        }
    }
}